@{
    ViewData["Title"] = "Folder Browser";
}

<div id="bsTree"></div>

@section Scripts
    {
    <script>
        $(function() {
            $.ajax("@Url.Action("TreeData","TreeView")")
                .done(function(resp) {
                    $("#bsTree").treeview({
                        data: resp
                    });
                })
                .fail(function(error) {
                    console.log(error);
                });
        });
    </script>
}
